
.skeleton-loader {
  width: 100vw;
  height: 100vh;
  background: var(--color-primary);
  filter: blur(2px);
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: skeleton-shimmer 1.5s infinite linear;
}

@keyframes skeleton-shimmer {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.7;
  }
} 